Package: freemobile-smsapi
Version: 1.0.2-0
Section: base
Priority: optional
Architecture: amd64
Depends: bash, curl
Maintainer: CYOSP
Description: A Bash API for Free Mobile SMS notification service
Homepage: http://www.cyosp.com
